.navbar {
    padding: 2em;
    background-color: pink
}

.pages {
    margin: 0 0 5em 0;
    list-style-type: none;
    padding: 0;
    width: 20em;
  }

  ion-nav {
      margin: 0 0 em 0;
      background-color: lavender;
      height: 100px;

  }